@model Autonomize.Models.ViewModels.DashboardViewModel

@{
    ViewData["Title"] = "Dashboard";
}

<h1 class="mb-4">Dashboard</h1>

<div class="row">
    <div class="col-md-3">
        <div class="card text-white mb-3" style="background-color: #004F71;">
            <div class="card-body">
                <h5 class="card-title">Total de Vendas</h5>
                <p class="card-text fs-4">@Model.TotalVendas</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white mb-3" style="background-color: #004F71;">
            <div class="card-body">
                <h5 class="card-title">Total de Clientes</h5>
                <p class="card-text fs-4">@Model.TotalClientes</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white mb-3" style="background-color: #004F71;">
            <div class="card-body">
                <h5 class="card-title">Total de Produtos</h5>
                <p class="card-text fs-4">@Model.TotalProdutos</p>
            </div>
        </div>
    </div>

    <div class="col-md-3">
        <div class="card text-white mb-3" style="background-color: #004F71;">
            <div class="card-body">
                <h5 class="card-title">Valor Total Vendido</h5>
                <p class="card-text fs-4">R$ @Model.ValorTotalVendido.ToString("N2")</p>
            </div>
        </div>
    </div>
</div>
